<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <property name="LOG_HOME" value="C:\\javalogs\\springbootRED"/>

    <appender name="dailyRollingFileAppenderSpringbootRED" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/applicationRED.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, America/New_York} []%thread %-5level %logger{35} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/applicationRED.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="consoleAppenderSpringbootRED" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, America/New_York} []%thread %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.agentskywalker.office.employeemanagement" level="warn" additivity="false">
        <appender-ref ref="dailyRollingFileAppenderSpringbootRED"/>
        <appender-ref ref="consoleAppenderSpringbootRED"/>
    </logger>

    <root level="warn">
        <appender-ref ref="dailyRollingFileAppenderSpringbootRED"/>
        <appender-ref ref="consoleAppenderSpringbootRED"/>
    </root>

</configuration>